.founder-img {
    width: 260px;
    border-radius: 50%;
}

.faq {
    background-color: #a2a2a2;
}

.faq-question {
    background-color: #4d4d3b;
    margin: 20px 0;
}

.accordion {
    overflow: hidden;
}

/* Formatting the accordion heading */

/* Accordion's content box's color */ 
.accordion-content {
    background-color: lightgrey;
    max-height: 0;
    transition: 0.3s; 
}

/* The class that displays the accordion's content */
.activate {
    max-height: 800px;
}

