* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

.centered {
    margin: auto;
    max-width: 1344px;
}


body {
    background-color: white;
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100vh;
}

header {
    background-color: black;
    border-bottom: 0.5px solid #6a6969;
    height: 60px;
    transition: height 0.6s ease-in-out;
    overflow: hidden;
}

.mob-bars-icon-container {
    display: none;
}

.mob-bars-icon-container i {
    font-size: 25px;
    color: white;
    line-height: 60px;
}


nav {
    display: flex;
    color: white;
    height: 60px;
    justify-content: space-between;
    align-items: center;
}

.mob-nav-btn {
    display: none;
}

.logo-home img {
    display: block;
    height: 40px;
}

.nav-btn-container {
    display: flex;
    height: 50px;

}

.nav-btn {
    color: white;
    display: block;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 50px;
    padding: 0 10px;
    text-align: center;
    width: 85px;
    text-decoration: none;
}


.nav-btn:hover {
    background-color: #313131;
    cursor: pointer;
}

.breadcrumbs {
    background-color: black;
    color: white;
    font-size: 18px;
    height: 70px;
}

.breadcrumbs span {
    text-align: left;
    display: block;
    line-height: 70px;
}

footer {
    background-color: black;
    border-top: 0.5px solid #6a6969;
    width: 100%;
    height: 300px;
    margin-top: auto;
}

@media screen and (max-width: 1344px) {
    .centered {
        padding: 0 30px;
    }
}

@media screen and (max-width: 768px) {
    nav , .breadcrumbs {
        padding: 0 30px;
    }
    
    .logo-home img {
        height: 25px;
    }

    .nav-btn-container {
        display: none;
    }

    .activate-mobile-header {
        height: 360px; 
    }

    .mob-nav-btn {
        display: block;
        height: 60px;
        padding-left: 20px;
    }

    .mob-nav-btn span {
        line-height: 60px;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 16px;
        text-decoration: none;
        color: white;
    }

    .mob-bars-icon-container {
        display: block;
    }

    
}
