* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
}


body {
    background-color: white;
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100vh;
}

header {
    background-color: black;
    border-bottom: 0.5px solid #6a6969;
    height: 60px;
}

nav {
    display: flex;
    color: white;
    height: 60px;
    max-width: 1344px;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

nav img {
    display: block;
    height: 40px;
}

.nav-btn-container {
    display: flex;
    height: 50px;

}

.nav-btn {
    color: white;
    display: block;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 50px;
    padding: 0 10px;
    text-align: center;
    width: 85px;
    text-decoration: none;
}

.nav-btn:hover {
    background-color: #313131;
    cursor: pointer;
}

footer {
    background-color: black;
    border-top: 0.5px solid #6a6969;
    width: 100%;
    height: 300px;
    margin-top: auto;
}
