
.intro-msg {
    background-color: rgba(64,64,64,1);
    color: white;
    padding-left: 120px;
    padding-right: 120px;
}

.gallery-container {
    background-color: white;
    height: 600px;
}

.athena-topics-container {
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap;
}


.topic-card {
    width: 200px;
}

.topic-card img {
    height: 200px;
    width: 100px;
}

.key-ideas article img {
    float: left;
    width: 200px;

}

.key-ideas article div {
    clear: both;
}

.cb-management article img {
    float: right;
}




