/* Setting variables */
:root {
    --carousel-width: 1344px;
    --carousel-height: 756px;
    --standard-margin: 100px;
}

/* Welcome message styles */
.intro-msg {
    padding: 50px 0;
    background-color: rgba(64,64,64,1);
    color: white;
}

.intro-msg h1 {
    font-size: 26px;
    margin-bottom: 5px;
}

.intro-msg p {
    font-size: 18px;
}

.intro-msg button {
    background-color: #00bcd4;
    border-radius: 6px;
    margin-top: 30px;
    border: none;
    width: 200px;
    height: 50px;
}

.intro-msg button:hover {
    cursor: pointer;
}

/* Slideshow section styles */
.gallery-container {
    margin-top: 40px;
}

.gallery-container h1 {
    margin-bottom: 10px
}

.carousel {
    height: var(--carousel-height);
    width: var(--carousel-width);
    margin: auto;
    text-align: center;
}

.carousel-img-display {
    height: var(--carousel-height);
    width: var(--carousel-width);
    display: flex;
    overflow: hidden;
}


.carousel-slide {
    height: var(--carousel-height);
    width: var(--carousel-width);
}

/* Animation for slide movment */
.first-slide {
    transition: 1s;
}

/* Settig size of images in slides */
.carousel-slide img{
    height: var(--carousel-height);
    width: var(--carousel-width);
}

/* Card styles and layout */
.athena-topics-title {
    margin-top: var(--standard-margin);
    margin-bottom: var(--standard-margin);
}


.athena-topics-container {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
    margin-bottom: 200px;
}


.topic-card {
    width: 350px;
}

.topic-card h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.topic-card img {
    width: 350px;
    height: 300px;
    
}


/* Responsiveness */
@media screen and (max-width: 1344px) {
    :root {
        --carousel-width: 1000px;
        --carousel-height: 562.5px;
    }
}

@media screen and (max-width: 1000px) {
    :root {
        --carousel-width: 800px;
        --carousel-height: 450px;
    }
}

@media screen and (max-width: 800px) {
    :root {
        --carousel-width: 500px;
        --carousel-height: 281.25px;
    }
}

@media screen and (max-width: 750px) {
    .key-ideas article img {
        margin-left: 0;
        margin-right: 0;
        margin: 0 auto;
        width: 300px;
    }
    
    .topic-card {
        flex-grow: 1;
    }

    .topic-card p {
        margin-bottom: 80px;
    }

}

@media screen and (max-width: 500px) {
    :root {
        --carousel-width: 320px;
        --carousel-height: 180px;
    }


}

@media screen and (max-width : 350px) {
    .key-ideas article img {
        display: block;
        margin-left: 0;
        margin-right: 0;
        margin: 0 auto;
        width: 250px;
    }
    .topic-card {
        width: 250px;
    }

    .topic-card p {
        margin-bottom: 80px;
    }

    .topic-card img {
        width: 250px;
        height: 180px;
    }

}

@media screen and (max-width: 320px) {
    :root {
        --carousel-width: 280px;
        --carousel-height: 157.5px;
    }
}
