/* Laying out sub-title of page */
h2 {
    padding-top: 100px;
}

/* Table container layout */
.table-container {
    margin-top: 100px;
    margin-bottom:200px;
}

/* Table structure */
.table {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.table div {
    width: 400px;
}

/* Creating a margins between columns */
.col {
    border-left: 1px solid white;
}

.row-0 {
    font-size: 28px;
    height: 80px;
    border: solid 1px lightgrey;
}

.row {
    text-align: center;
}

.row:not(.row-0):not(.row-5){
        background-color: #efefef;
        border-bottom: 1px solid white;
        padding: 8px 0;
    }

/* Responsive styles for when the features columns is removed */
.when-features-col-collapses {
    display: none; 
    font-size: 11px;
}

button {
    width: 120px;
    padding: 4px 0;
    font-size: 16px;
    border-radius: 6px;
}

/* Styling buttons */
.col-1 button {
    background-color: white;
    border: 1px solid black;
}

.col-2 button {
    border: none;
    background-color: #8ce88c;
}

.col-1 button:hover {
   background-color: #e0e0e0;
   cursor: pointer;
}

.col-2 button:hover {
   background-color: #62bf62;
   cursor: pointer;
}

/* Responsiveness */
@media screen and (max-width: 1200px) {
    .features{
        display: none
    }

    .when-features-col-collapses {
        display: inline;
    }
}
